@inherits MiniHoldPage
@page "/abstraction"
@using I8Beef.Ecobee;
@using MiniHold.Abstractions;

<LoadingSpinner Busy="@App.Busy" />

@foreach (var ti in ClientStatic.ThermostatObjects)
{
    <RefreshBox Thermostat="@ti" />

    <hr />

    <p>
        This app's F# backend has retrieved the thermostat's current state
        from the ecobee API and abstracted it into the structure below. The
        app's display and functions are based on this abstraction. More
        detailed information is available in your ecobee app.
    </p>

    <pre>@ti.Information</pre>
}
