@inherits MiniHoldPage
@page "/credentials"
@using I8Beef.Ecobee;
@using I8Beef.Ecobee.Exceptions;
@using I8Beef.Ecobee.Messages;
@using MiniHold.Abstractions;

<LoadingSpinner Busy="@App.Busy" />

<h1>API Connection</h1>

<hr />

@if (ClientStatic.EcobeePin != null)
{
    <p>
        Your PIN code is: <strong>@ClientStatic.EcobeePin</strong>
    </p>
    <p>
        Enter this code in the My Apps > Add Application section of the customer portal, and press OK when ready.
    </p>

    <form @onsubmit="ClientStatic.GetToken">
        <button type="submit" class="btn btn-primary">
            OK
        </button>
    </form>
}

@if (ClientStatic.HasToken)
{
    <p>
        Connected to the API.
    </p>
    <form @onsubmit="ClientStatic.RemoveToken">
        <button type="submit" class="btn btn-danger">
            Remove token
        </button>
    </form>
}
