@inherits MiniHoldPage
@page "/credentials"
@using I8Beef.Ecobee;
@using I8Beef.Ecobee.Exceptions;
@using I8Beef.Ecobee.Messages;
@using MiniHold.Abstractions;

<LoadingSpinner Busy="@App.Busy" />

<h1>Setup</h1>

@if (ClientStatic.HasToken)
{
    <hr />

    <p>
        Connected to the ecobee API.
    </p>
    <form @onsubmit="ClientStatic.RemoveToken">
        <button type="submit" class="btn btn-danger">
            Remove token
        </button>
    </form>
}

<hr />

<h1>About MiniHold</h1>

<p>
    MiniHold is a
    <a href="https://learn.microsoft.com/en-us/aspnet/core/blazor/hybrid/tutorials/maui">.NET MAUI / Blazor</a>
    app for Windows and Android that offers quick actions and information for a connected
    <a href="https://www.ecobee.com/">ecobee</a>
    smart thermostat.
</p>

<p>
    MiniHold is designed for thermostats set to the "auto" mode, where both a
    minimum (heat) temperature and a maximum (cool) temperature are defined.
    Even when your thermostat is in another mode, MiniHold will still show
    both heat and cool thresholds.
</p>

<p>
    More thermostat functions are available in the official
    <a href="https://play.google.com/store/apps/details?id=com.ecobee.athenamobile">ecobee app</a>.
</p>

<p>
    &copy; 2025 Isaac Schemm
    <br />
    <a href="https://github.com/IsaacSchemm/MiniHold" style="word-break: break-word">https://github.com/IsaacSchemm/MiniHold</a>
</p>
