@inherits MiniHoldPage
@page "/forecast"
@using I8Beef.Ecobee;
@using MiniHold.Abstractions;

<LoadingSpinner Busy="@App.Busy" />

@foreach (var ti in ClientStatic.ThermostatObjects)
{
    <RefreshBox Thermostat="@ti" />

    <hr />

    foreach (var f in ti.Information.DailyForecasts)
    {
        <h5 style="font-weight: bold">@f.Date.ToString("dddd, MMM d")</h5>
        <TemperatureDisplayBox UserInterfaceReading="@f" />
        <hr />
    }
}
