<button class="btn btn-secondary @(Positive ? "heat" : Negative ? "cool" : "")" style="grid-row: @Position.row; grid-column: @Position.col" @onclick="OnClick" title="@Title">
    @Text
</button>

@code {
    [Parameter]
    public (int row, int col) Position { get; set; }
    [Parameter]
    public EventCallback<MouseEventArgs> OnClick { get; set; }
    [Parameter]
    public string Text { get; set; }
    [Parameter]
    public string Title { get; set; }

    public bool Positive => Text == "Heat" || Text.StartsWith("+");
    public bool Negative => Text == "Cool" || Text.StartsWith("-");
}
