@if (Thermostat != null)
{
    <h1>@Thermostat.ThermostatClient.Name</h1>

    string cssClass = Thermostat.Information.Mode switch
    {
        "auto" => "bg-success",
        "heat" => "bg-danger",
        "auxHeatOnly" => "bg-danger",
        "cool" => "bg-primary",
        _ => "bg-secondary"
    };

    <div class="badge @cssClass">
        @Thermostat.Information.Mode
    </div>

    <hr />

    <p align="center">
        Last updated:
        <br />
        @Thermostat.LastUpdated.ToLocalTime()
        <br />
        <button class="btn btn-primary mt-2" @onclick="Thermostat.Refresh">
            Refresh
        </button>
    </p>
}

@code {
    [Parameter]
    public ThermostatObject Thermostat { get; set; }
}
